@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');


/* shared style */

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    border: 0;
    padding: 20px 25px;
    font-size: 1.25rem;
    cursor: pointer;
}

.text-lightgray {
    color: #727272;
}

.section-title {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}



/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

/* banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams style */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    font-weight: 500;
}

.teams-title .text-feature {
    color: #FF900E;
    font-weight: 700;
}

/* Features section style */

.features{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-img img{
    height: 85%;
}

.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 280px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 50px;
}

.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}

.ten-years-badge p{
    font-size: 1.5rem;
}

.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    
}


/* Facts sytle */

.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    color: #727272;
    font-size: 1.25rem;
}

/* Sponsors styles */

.sponsors{
    text-align: center;
}

.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}

.sponsors-img-container img{
    width: 165px;
    
}


/* Footer section */

.footer-section{
    display: flex;
    border-radius: 8px;
    background: #FFF4E7;
    height: 30vh;
    justify-content: center;
    align-items: end;
}
.footer-text{
    font-size: 1.25rem;
}








/* responsive media query */

/* mobile devices */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .features,
    .feature-img,
    .sponsors-img-container,
    .facts-card-container,
    .teams-container {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    .feature-img img{
        width: 90%;
        margin-left: 0;

    }
    .ten-years-badge{
        position: static;
        width: 200px;
        padding: 20px;
    }
    .ten-years-badge h2{
        font-size: 2rem;
    }
    .footer-text{
        padding: 20px;
        text-align: center;
    }
}

/* medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    nav,
    .features,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }
    .ten-years-badge{
        margin-left: 50px;
    }
}