@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');


/* shared style */

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    border: 0;
    padding: 20px 25px;
    font-size: 1.25rem;
    cursor: pointer;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams style */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}
.teams-title .text-feature{
    color: #FF900E;
    font-weight: 700;
}









/* responsive media query */

/* mobile devices */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}

/* medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    nav {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }
}