/* Work Sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Work+Sans:wght@400;500;700;800&display=swap');

/* shared styles */
.btn-primary{
  background-color: #FF900E;
  border-radius: 10px;
  padding: 15px 20px;
  color: #fff;
  font-size: 1.2rem;
  border: 0;
  cursor: pointer;

}

* {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

/* header styles */
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 120px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title{
  font-size: 2rem;
  font-weight: 700;
  color: #131313;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a{
  text-decoration: none;
  color: #424242;
}

/* Banner styles */
.banner-content{
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}

.banner-description{
  color: #727272;
}
.banner-image{
  width: 66.4rem;
  margin-top: 20px;
}